@import "tailwindcss";

@theme {
  /* Brand colors */
  --color-primary: #5937e0;
  --color-accent: #ff9e0c;

  /* Base colors */
  --color-bg: #ffffff;
  --color-surface: #fafafa;
  --color-alt: #f6f6f6;

  /* Text */
  --color-text-main: #1a1a1a; /*warna tebal */
  --color-text-muted: #555555; /*warna tipis */

  /* Border */
  --color-border: #e5e5e5;
}

@import "@fontsource/inter/400.css"; /* regular */
@import "@fontsource/inter/500.css"; /* medium */
@import "@fontsource/inter/600.css"; /* semi-bold */
@import "@fontsource/inter/700.css"; /* bold */
@import "@fontsource/inter/800.css"; /* extra-bold */      

@import "@fontsource/work-sans/400.css"; /* regular */
@import "@fontsource/work-sans/500.css"; /* medium */
@import "@fontsource/work-sans/600.css"; /* semi-bold */
@import "@fontsource/work-sans/700.css"; /* bold */
@import "@fontsource/work-sans/800.css";
@import "tw-animate-css";


:root {
  --font-inter: "Inter", sans-serif;
  --font-worksans: "Work Sans", sans-serif;
}

@layer utilities {
  .font-inter {
    font-family: var(--font-inter);
  }
  .font-worksans {
    font-family: var(--font-worksans);
  }
}

@layer base {
  body {
    @apply bg-surface;
  }
}

@layer components {
  .btn-orange {
    @apply text-surface bg-accent py-[10.5px] px-[28px] font-semibold text-[16px] rounded-[12px];
    font-family: var(--font-inter);
  }
}
